prometheus_install_path: /appli/prometheus

prometheus_docker_image_tag: v2.16.0
prometheus_docker_network: wtu

prometheus_hostname: prometheus.local

prometheus_https: true
prometheus_https_le: true

prometheus_scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'traefik'
    static_configs:
      - targets: ['traefik:8080']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
